<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EUR USD Chart</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
     <div class="container JumboHeaderImg">
        <h1 class="display-4" style="font-family:verdana; text-align:center;">Technical Trading: Fact or Fiction</h1>
        <p class="lead" style="text-align:center;">Team Members: Anjali, Albert, Greg, Ryan</p>
     </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--a class="navbar-brand" href="#">Candle</a-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Candle <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{{ url_for('scatter') }}">Scatter <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{{ url_for('terms') }}">Glossary of Terms</a>
            <a class="nav-item nav-link active" href="{{ url_for('resources') }}">Resources</a>
          </div>
        </div>
      </nav>
      <br>
   </div>
   <div class="container">
      
      <div class="col-10">
        <h3>MACD</h3>
        <p>
              Moving Average Convergence/Divergence oscillator popularly
               called the MACD or "Mac-Dee" is considered the most effective 
               momentum indicators available developed by Gerald Appel in the 
               late 1970s. It is a special indicator because it brings together 
               momentum and trend in one indicator. The MACD oscillates either 
               above or below the zero line also called the centerline as the 
               moving averages converge, cross, and diverge. Signals are generated 
               when the signal line crossovers, centerline crossovers and divergences, 
               this is particularly noteworthy for traders. MACD is about converging 
               and diverging of two averages. When moving averages move towards each 
               other is known as convergence. And the two moving averages move away 
               from each other it is known as divergence. MACD movements are possibly 
               by the shorter moving average (12 days). While on the other hand the 
               26 day is considered a longer moving average and is less reactive to 
               price changes. When the 12-day exponential moving average (EMA) is 
               above the 26 day EMA a positive MACD is observed. Thus, upside 
               momentum is increasing. While if the 12 day EMA is below the 26 day 
               EMA, a negative MACD is observed. This means the downside momentum 
               is decreasing. A signal line also known as the trigger line is 
               generated by taking a nine period moving average of the MACD.
        </p>

        <br>

        <h3>RSI</h3>
        <p>
              J. Welles Wilder developed the RSI in 1978, which stands for 
              the relative strength index. It measures the speed and change of 
              recent price movements as a momentum oscillator usually in a 14-day 
              period. The RSI fluctuates between zero and 100. This index is used 
              to evaluate the certain conditions such as oversold and overbought. 
              When the indictor is above 70, the signal is considered overbought 
              and when it is below 30 it is oversold. The RSI measures the price 
              change in relationship to the recent price of highs and lows. RSI is 
              often combined with the MACD and creates a technical background.  
              RSI that follows in the same direction of the trend signifies 
              potential trend strength and increasing speed of the trend is known 
              as convergence. On the other hand, divergence is RSI that moves in 
              the opposite of the trend's direction over a period of time signifies 
              potential trend weakness and/or decreasing trend momentum.
        </p>

        <br>

        <h3>Williams Percent Range</h3>
        <p>
              Williams Percent Range or commonly known as
               % R developed by Larry Williams. The %R oscillates between 0 and 
               -100. It shows how the current price compares to the highest price 
               over a certain period in the past. Typically, the past is considered 
               14 periods. 14 periods on a weekly chart that is 14 weeks, while on 
               an hourly chart 14 hours. When the indicator is near zero is shows 
               the price is trading near or above the highest high during the past 
               period. If indicator is near -100, the price is trading near or below 
               the lowest low during the past period. Above -50 and the price is 
               trading within the upper portion of the 14 period range; below -50 
               and the price is trading in the lower portion of the 14 period range. 
               The most common use for the Williams %R is for "overbought" and 
               "oversold" readings and momentum confirmations and failures. Just 
               using %R for entries will produce a large number of false signals; 
               false signals are when the indicator signals that the trend is turning, 
               but in fact it doesn't. Only taking signals in the same direction as 
               the trend can help in this regard. Using the indicator in conjunction 
               with other indicators or price and trend analysis will help filter out 
               some of the false signals.
        </p>

        <br>

        <h3>Stochastic Oscillator</h3>
        <p>
              In the 1950s, George Lane developed Stochastic 
              Oscillator (STOCH). It is an indicator that shows the location of the 
              close relative to the high-low range over a set number of periods. 
              It is similar to the Williams Percent Range. The indicator can range 
              from 0 to 100. The Stochastics Oscillator is most effective in broad 
              trading ranges or slow moving trends. 80 and 20 are the most common 
              levels used but can be adjusted as needed. In general, an area above 
              80 indicates an overbought region, while the area below 20 is 
              considered an oversold region. A sell signal is given when the 
              oscillator is above the 80 level and then crosses back below 80. 
              Conversely, a buy signal is given when the oscillator is below 20 and 
              then crossed back above 20. When there are two lines are graphed, the 
              slow oscillating %K and a moving average of %K, commonly referred to 
              as %D. When a crossover signal happens as the two lines cross in the 
              overbought or oversold region. A sell signal occurs when a decreasing 
              %K line crosses below the %D line in the overbought region. Conversely, 
              a buy signal occurs when an increasing %K line crosses above the %D 
              line in the oversold region. Divergences form when a new high or low 
              in price is not confirmed by the Stochastic Oscillator. A bullish 
              divergence forms when price make a lower low, but the Stochastic 
              Oscillator forms a higher low. This indicates less downward momentum 
              that could foreshadow a bullish reversal. A bearish divergence forms 
              when price makes a higher high, but the Stochastic Oscillator forms 
              a lower high. This shows less upward momentum that could foreshadow a 
              bearish reversal.
        </p>

        <br>

        <h3>Bollinger Bands</h3>
        <p>
              John Bollinger invented an analysis tool called Bollinger Bands in 1983.  
              Bollinger Bands are  designed to help traders evaluate price action and volatility. 
              Three different lines are drawn, consists of a middle band (which is a moving average) 
              and an upper and lower band. These upper and lower bands are set above and below the 
              moving average by a certain number of standard deviations of price, thus incorporating 
              volatility. The contraction or narrowing of the bands can foreshadow a significant 
              advance or decline. Once the squeeze play is on, a subsequent band break signals the 
              start of a new move. A new advance starts with a squeeze and subsequent break above 
              the upper band. A new decline starts with a squeeze and subsequent break below the 
              lower band.
        </p>

        <br>
      </div>
    </div>


  <!--<script src="../static/js/MACDChart.js"></script>-->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>